---
import type { Skill } from "@/types/cv.types";
import SectionTitle from "@/components/ui/SectionTitle.astro";
import Badge from "@/components/ui/Badge.astro";

interface Props {
  skills: Skill[];
}
const { skills } = Astro.props;
---

<section>
  <SectionTitle title="Habilidades" />
  <div class="flex flex-wrap gap-2">
    {skills.map((skill) => <Badge label={skill.name} />)}
  </div>
</section>
