---
import BaseLayout from "./BaseLayout.astro";
import Header from "@/components/common/Header.astro";
import Footer from "@/components/common/Footer.astro";

interface Props {
  title?: string;
  description?: string;
  noindex?: boolean;
}

const { title, description, noindex = false } = Astro.props;
---

<BaseLayout title={title} description={description} noindex={noindex}>
  <Header />
  <main class="mx-auto max-w-5xl space-y-8 px-6 py-12">
    <slot />
  </main>
  <Footer />
</BaseLayout>
